<!doctype html>
<html class="no-js" lang="">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="apple-touch-icon" href="apple-touch-icon.png">
      <!-- Place favicon.ico in the root directory -->
      <link rel="stylesheet" href="css/normalize.css">
      <link rel="stylesheet" href="css/main.css">
      <script src="js/vendor/modernizr-2.8.3.min.js"></script>
      <script type="text/javascript" src="js/angular.min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
      <script src="js/jscolor.js"></script>
      <!-- ************************************************************************************************* -->
      <!-- timelines dependencies start -->
      <link rel="stylesheet" href="css/reset.css">
      <!-- CSS reset -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Resource style -->
      <script src="js/jquery-2.2.3.js"></script>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">   
      <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
      <script src="js/timelines/timelines.js"></script> <!-- Resource jQuery -->
      <!-- data map dependencies start -->
      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="http://d3js.org/topojson.v1.min.js"></script>
      <script src="http://datamaps.github.io/scripts/datamaps.usa.min.js?v=1"></script>
      <!-- data map dependencies end -->
      <!-- ************************************************************************************************* -->
   </head>
   <body ng-app="InfoVis">
      <div class="mainWraper" ng-controller="MainController">
         <!--[if lt IE 8]>
         <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
         <![endif]-->
         <!-- Add your site or application content here -->
         <div id="wrapper">
            <div id="left">
               <div id="number" class="section">
                  <a class="learn-more" href="#" data-toggle="tooltip" title="Increasing the number of data classes will result in a more information rich map by decreasing the amount of data generalization. However, too many data classes may overwhelm the map reader with information and distract them from seeing general trends in the distribution. In addition, a large numbers of classes may compromise map legibility.use the color test option to make sure you are able to distinguish between all colors."></a>                  
                  <p>&nbsp;Number of data classes:
                     <select ng-init="selectedNumberOfClasses=9" id="num-classes" ng-change='updateNumberOfClasses(selectedNumberOfClasses)' ng-model="selectedNumberOfClasses">
                        <option name="4">4</option>
                        <option name="9">9</option>
                        <option name="16">16</option>
                     </select>
                  </p>
               </div>
               <div class="section">
                  <a class="learn-more" href="#" data-toggle="tooltip" title="pick the color scheme that you prefer ,some users may find it hard to distinguish between all colors, try them out and see what fits, or choose your own colors."></a>
                  <P>&nbsp;Pick a color scheme: </p>
                  <div class="colorPresetsSelctionPan" ng-attr-width="{{numberOfPresetsColor*45}}">
                     <div ng-hide="blindcheck && !presetsColors[$index].cBlindSupported" ng-init='initDefaultColors()' class="colorPresetItem" ng-click='colorPicked($index)' ng-repeat="pColor in colorRanges">
                        <svg ng-attr-width="{{numberOfRanges*15}}" ng-attr-height="{{numberOfRanges*15}}">
                           <g ng-repeat="row in pColor" >
                              <rect ng-repeat="rect in row"
                                 ng-attr-x="{{ (15*($parent.$index))}}" 
                                 ng-attr-y="{{numberOfRanges*15 -15*($index+1)}}" 
                                 ng-attr-width="{{15}}" 
                                 ng-attr-height="{{15}}"
                                 ng-attr-fill="{{'rgba('+ rect[0] +',' + rect[1] +','+ rect[2] +','+ rect[3]+')' }}"
                                 >  
                              </rect>
                           </g>
                        </svg>
                     </div>
                  </div>
               </div>
               <!-- Color picker -->
               <div class="section">
                  <a class="learn-more" href="#" data-toggle="tooltip" title="choose your own colors, customized colors are kept on local storage so you may use them again."></a>
                  <p>&nbsp;Color #1: <input ng-model="color1" class="jscolor" value="ab2567"></p>
                  <p>&nbsp;Color #2: <input ng-model="color2" class="jscolor" value="ab2567"></p>
                  &nbsp;<button ng-click="addNewColor(color1,color2)" type="button">Save</button> 
               </div>
               <!-- Date ranges picker -->
               <script>
                  $(function() {
                     $("#startdatepicker1").datepicker();
                  });
               </script>
               <script>
                  $(function() {
                     $("#enddatepicker1").datepicker();
                  });
               </script>
               <script>
                  $(function() {
                     $("#startdatepicker2").datepicker();
                  });
               </script>
               <script>
                  $(function() {
                     $("#enddatepicker2").datepicker();
                  });
               </script>
               <div class="section">
                  <p>&nbsp;Date period #1:</p>
                  <p><input type="text" id="startdatepicker1"></p>
                  <p><input type="text" id="enddatepicker1"></p>
                  <p>&nbsp;Date period #2:</p>
                  <p><input type="text" id="startdatepicker2"></p>
                  <p><input type="text" id="enddatepicker2"></p>
                  &nbsp;<button ng-click="filterData()">Check</button>
               </div>
               <!-- Search query -->
               <div class="section">
                  <p>&nbsp;Person: <input ng-model="person" type="text"></p>
                  &nbsp;<button ng-click="executeQuery(person)" type="button">Check</button> 
               </div>
               <!-- Checkboxes -->
               <div class="section" id="colors">
                  <div id="optionss">
                     <a class="learn-more" href="#" data-toggle="tooltip" title="colorblind safe are colors which are believed to be appropriate for color blind people (according to color brewer),color test allows you to make sure you are able to distinguish between all colors."></a>
                     <p>&nbsp;Options:</p>
                     <div id="filters">
                        <input ng-model="blindcheck" type="checkbox" id="blindcheck" /><label for="blindcheck">&nbsp;Colorblind Mode</label><br>
                        <input ng-model="colorTest" ng-change="colorCheckChange(colorTest)" type="checkbox" id="colorCheck"/><label for="colorCheck">&nbsp;Color Test</label><br>
                     </div>
                     <div class="section" id="legend">
						      <a class="learn-more"  href="#" data-toggle="tooltip" title="you may choose any of the colors ,in order to black the others out."></a>
                        <p>&nbsp;Map Legend:</p>
                        <br>
                        <div ng-repeat="row in colorRanges[colorPickedByUser]">
                           <div ng-repeat="rect in row " ng-model="numberInEachRange">
                              <div class="legened-item" ng-click='legendPicked($index+$parent.$index*row.length)'>
									      <svg ng-attr-width="{{15}}" ng-attr-height="{{15}}">
            								<rect  
                                       ng-attr-width="{{15}}" 
                                       ng-attr-height="{{15}}"
                                       ng-attr-fill="{{'rgba('+ rect[0] + ',' + rect[1] +','+ rect[2] + ',' + rect[3] + ')'}}">
                                    </rect>
                                 </svg>
                              </div>
                              X:{{ranges[$parent.$index][0]}}-{{ranges[$parent.$index][1]}} Y:{{ranges[$index][0]}}-{{ranges[$index][1]}}  
                              (quantity:{{numberInEachRange[($parent.$index*numberOfRanges +$index)]}})
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="section border">
               <p class="subject" ng-bind="subject"> </p>
               <p>Date period #1: {{date1start| date : "dd/MM/yyyy"}} - {{date1end| date : "dd/MM/yyyy"}}</p>
               <p>Date period #2: {{date2start| date : "dd/MM/yyyy"}} - {{date2end| date : "dd/MM/yyyy"}}</p>
            </div>
            <!-- US map -->
            <div id="map-container">
               <div id="loader" class="loader"></div>
               <div id="keywordMap1"></div>
            </div>
         </div>
         <!-- ************************************************************************************************* -->
         <script src="js/plugins.js"></script>
         <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
         <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
         </script>
         <footer>
            <p>Created by: Sharon Aboud and Shani Bernstein</p>
            <p>Contact information: <a href="mailto:saboud02@campus.haifa.ac.il">saboud02@campus.haifa.ac.il</a>.</p>
         </footer>
      </div>
   </body>
</html>