<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>


        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>


        




        <!-- ************************************************************************************************* -->
        <!-- timelines dependencies start -->
        <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
        <link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
        <script src="js/jquery-2.2.3.js"></script>
         <!-- TIMELINES NOT NEEDED
        <script src="js/timelines/modernizr.js"></script> 
         <script src="js/timelines/jquery.mobile.custom.min.js"></script>

         TIMELINES NOT NEEDED-->
        <script src="js/timelines/timelines.js"></script> <!-- Resource jQuery -->
         <!-- timelines dependencies end -->
        <!-- data map dependencies start -->
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="http://d3js.org/topojson.v1.min.js"></script>
        <script src="http://datamaps.github.io/scripts/datamaps.usa.min.js?v=1"></script>
        <!-- data map dependencies end -->
        <!-- ************************************************************************************************* -->











    </head>
    <body ng-app="InfoVis">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->














        <!-- ************************************************************************************************* -->
         <div id="keywordMap1" style="position: relative; width: 90%; height: 600px;"></div>
      

<script>
 var keywordMap1 = new Datamap({
      scope: 'usa',
  element: document.getElementById("keywordMap1"),
  geographyConfig: {
    highlightBorderColor: '#bada55',
     
     highlightFillColor: '#FC8D59',
        popupTemplate: function(geography, data) {
      return '<div class="hoverinfo" style="font-size:40px;">' +geography.properties.name  +'<br>' +' Electoral Votes:' +  data.electoralVotes + ' '
},
highlightBorderWidth: 3,
       },
//http://api.geonames.org/countrySubdivision?lat=28.6535391673714&lng=-82.4751710549983&username=demo
  fills: {
    Positive1to20: '#80ff80',
    Positive21to40: '#33ff33',
    Positive41to60: '#00e600',
    Positive61to80: '#008000',
    Positive81to100 :"#003300",
    Ambivalent:"#ffffff",
    negative1to20: '#ffcccc',
    negative21to40: '#ff6666',
    negative41to60: '#ff0000',
    negative61to80: '#990000',
    negative81to100 :"#330000",

  },
data:{
  "AZ": {
      "fillKey": "Positive1to20",
      "electoralVotes": 11
  },
  "CO": {
      "fillKey": "Positive21to40",
      "electoralVotes": 9
  },
  "DE": {
      "fillKey": "negative1to20",
      "electoralVotes": 3
  },
  "FL": {
      "fillKey": "Ambivalent",
      "electoralVotes": 29
  },
  "GA": {
      "fillKey": "Ambivalent",
      "electoralVotes": 16
  },
  "HI": {
      "fillKey": "negative81to100",
      "electoralVotes": 4
  },
  "ID": {
      "fillKey": "negative81to100",
      "electoralVotes": 4
  },
  "IL": {
      "fillKey": "Positive21to40",
      "electoralVotes": 20
  },
  "IN": {
      "fillKey": "Positive81to100",
      "electoralVotes": 11
  },
  "IA": {
      "fillKey": "Positive81to100",
      "electoralVotes": 6
  },
  "KS": {
      "fillKey": "Positive21to40",
      "electoralVotes": 6
  },
  "KY": {
      "fillKey": "Ambivalent",
      "electoralVotes": 8
  },
  "LA": {
      "fillKey": "negative81to100",
      "electoralVotes": 8
  },
  "MD": {
      "fillKey": "negative81to100",
      "electoralVotes": 10
  },
  "ME": {
      "fillKey": "negative81to100",
      "electoralVotes": 4
  },
  "MA": {
      "fillKey": "negative41to60",
      "electoralVotes": 11
  },
  "MN": {
      "fillKey": "negative41to60",
      "electoralVotes": 10
  },
  "MI": {
      "fillKey": "negative41to60",
      "electoralVotes": 16
  },
  "MS": {
      "fillKey": "negative41to60",
      "electoralVotes": 6
  },
  "MO": {
      "fillKey": "negative41to60",
      "electoralVotes": 10
  },
  "MT": {
      "fillKey": "Positive61to80",
      "electoralVotes": 3
  },
  "NC": {
      "fillKey": "Positive61to80",
      "electoralVotes": 15
  },
  "NE": {
      "fillKey": "Positive61to80",
      "electoralVotes": 5
  },
  "NV": {
      "fillKey": "negative21to40",
      "electoralVotes": 6
  },
  "NH": {
      "fillKey": "negative21to40",
      "electoralVotes": 4
  },
  "NJ": {
      "fillKey": "negative21to40",
      "electoralVotes": 14
  },
  "NY": {
      "fillKey": "negative21to40",
      "electoralVotes": 29
  },
  "ND": {
      "fillKey": "Ambivalent",
      "electoralVotes": 3
  },
  "NM": {
      "fillKey": "Ambivalent",
      "electoralVotes": 5
  },
  "OH": {
      "fillKey": "Ambivalent",
      "electoralVotes": 18
  },
  "OK": {
      "fillKey": "Ambivalent",
      "electoralVotes": 7
  },
  "OR": {
      "fillKey": "negative1to20",
      "electoralVotes": 7
  },
  "PA": {
      "fillKey": "negative1to20",
      "electoralVotes": 20
  },
  "RI": {
      "fillKey": "negative1to20",
      "electoralVotes": 4
  },
  "SC": {
      "fillKey": "negative1to20",
      "electoralVotes": 9
  },
  "SD": {
      "fillKey": "Positive41to60",
      "electoralVotes": 3
  },
  "TN": {
      "fillKey": "Positive41to60",
      "electoralVotes": 11
  },
  "TX": {
      "fillKey": "Positive41to60",
      "electoralVotes": 38
  },
  "UT": {
      "fillKey": "Positive41to60",
      "electoralVotes": 6
  },
  "WI": {
      "fillKey": "Positive1to20",
      "electoralVotes": 10
  },
  "VA": {
      "fillKey": "Positive1to20",
      "electoralVotes": 13
  },
  "VT": {
      "fillKey": "Positive1to20",
      "electoralVotes": 3
  },
  "WA": {
      "fillKey": "Positive1to20",
      "electoralVotes": 12
  },
  "WV": {
      "fillKey": "Positive1to20",
      "electoralVotes": 5
  },
  "WY": {
      "fillKey": "Positive1to20",
      "electoralVotes": 3
  },
  "CA": {
      "fillKey": "Positive1to20",
      "electoralVotes": 55
  },
  "CT": {
      "fillKey": "Positive61to80",
      "electoralVotes": 7
  },
  "AK": {
      "fillKey": "Positive61to80",
      "electoralVotes": 3
  },
  "AR": {
      "fillKey": "Positive61to80",
      "electoralVotes": 6
  },
  "AL": {
      "fillKey": "Positive61to80",
      "electoralVotes": 9
  },
    "DC": {
      "fillKey": "Positive61to80",
      "electoralVotes": 3
  }
}
});
 keywordMap1.labels({"fontSize": 15});
 </script>



 <section class="cd-horizontal-timeline">
    <div class="timeline">
        <div class="events-wrapper">
            <div class="events">
                <ol>
                    <li><a href="#0" data-date="16/01/2014" class="selected">16 Jan</a></li>
                    <li><a href="#0" data-date="28/02/2014">28 Feb</a></li>
                    <li><a href="#0" data-date="20/04/2014">20 Mar</a></li>
                    <li><a href="#0" data-date="20/05/2014">20 May</a></li>
                    <li><a href="#0" data-date="09/07/2014">09 Jul</a></li>
                    <li><a href="#0" data-date="30/08/2014">30 Aug</a></li>
                    <li><a href="#0" data-date="15/09/2014">15 Sep</a></li>
                    <li><a href="#0" data-date="01/11/2014">01 Nov</a></li>
                    <li><a href="#0" data-date="10/12/2014">10 Dec</a></li>
                    <li><a href="#0" data-date="19/01/2015">29 Jan</a></li>
                    <li><a href="#0" data-date="03/03/2015">3 Mar</a></li>
                </ol>

                <span class="filling-line" aria-hidden="true"></span>
            </div> <!-- .events -->
        </div> <!-- .events-wrapper -->
            
        <ul class="cd-timeline-navigation">
            <li><a href="#0" class="prev inactive">Prev</a></li>
            <li><a href="#0" class="next">Next</a></li>
        </ul> <!-- .cd-timeline-navigation -->
    </div> <!-- .timeline -->

    <div class="events-content">
        <ol>
            <li class="selected" data-date="16/01/2014">
                <h2>Horizontal Timeline</h2>
                <em>January 16th, 2014</em>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
            </li>

            <li data-date="28/02/2014">
                <h2>Event title here</h2>
                <em>February 28th, 2014</em>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
            </li>

            <li data-date="20/04/2014">
                <h2>Event title here</h2>
                <em>March 20th, 2014</em>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
            </li>

            <li data-date="20/05/2014">
                <h2>Event title here</h2>
                <em>May 20th, 2014</em>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
            </li>

            <li data-date="09/07/2014">
                <h2>Event title here</h2>
                <em>July 9th, 2014</em>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
            </li>

            <li data-date="30/08/2014">
                <h2>Event title here</h2>
                <em>August 30th, 2014</em>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
            </li>

            <li data-date="15/09/2014">
                <h2>Event title here</h2>
                <em>September 15th, 2014</em>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
            </li>

            <li data-date="01/11/2014">
                <h2>Event title here</h2>
                <em>November 1st, 2014</em>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
            </li>

            <li data-date="10/12/2014">
                <h2>Event title here</h2>
                <em>December 10th, 2014</em>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
            </li>

            <li data-date="19/01/2015">
                <h2>Event title here</h2>
                <em>January 19th, 2015</em>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
            </li>

            <li data-date="03/03/2015">
                <h2>Event title here</h2>
                <em>March 3rd, 2015</em>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
            </li>
        </ol>
    </div> <!-- .events-content -->
</section>


        <!-- ************************************************************************************************* -->



















       
       
        <script src="js/plugins.js"></script>
       

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>

<div ng-controller="MainController">
  <input type="text" ng-model="greeting" aria-label="greeting" />
  <button ng-click="doGreeting(greeting)">ALERT</button>
</div>


    </body>
</html>
